@model CBApi.Models.Job

<fieldset>
    <legend>Job</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApplicationSubmitServiceURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicationSubmitServiceURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApplyURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplyURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BeginDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeginDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlankApplicationServiceURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlankApplicationServiceURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Categories)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categories)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoriesCodes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoriesCodes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyDetailsURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyDetailsURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyDID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyDID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyImageURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyImageURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyJobSearchURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyJobSearchURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactInfoEmailURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactInfoEmailURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactInfoFax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactInfoFax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactInfoName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactInfoName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactInfoPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactInfoPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DegreeRequired)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DegreeRequired)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DisplayJobID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayJobID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Division)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Division)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmploymentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmploymentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExperienceRequired)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExperienceRequired)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExternalApplication)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExternalApplication)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IndustryCodes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IndustryCodes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobRequirements)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobRequirements)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationCountry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationFormatted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationFormatted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationLatitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationLatitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationLongitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationLongitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationMetroCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationMetroCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationPostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationPostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationState)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationStreet1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationStreet1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationStreet2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationStreet2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManagesOthers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManagesOthers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ONetCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ONetCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayHighLowFormatted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayHighLowFormatted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayOther)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayOther)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayPer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayPer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrinterFriendlyURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrinterFriendlyURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RelocationCovered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelocationCovered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TravelRequired)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TravelRequired)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
