@model FastClickJobs.Models.JobRequest

<fieldset>
    <legend>JobRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Keywords)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Keywords)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
